- targets:
    - spring-server-2.example.local:9100
  labels:
    service: spring-server-2
    role: backend-postgres
    environment: dev

- targets:
    - spring-server-1.example.local:9100
  labels:
    service: spring-server-1
    role: toy-projects
    environment: dev

- targets:
    - redis-pi.example.local:9100
  labels:
    service: redis-server
    role: redis
    environment: dev

- targets:
    - db-pi.example.local:9100
  labels:
    service: db-server
    role: database
    environment: dev

- targets:
    - monitoring-pi.example.local:9100
  labels:
    service: monitoring-server
    role: monitoring
    environment: dev

- targets:
    - llm-desktop.example.local:9100
  labels:
    service: llm-server
    role: llm
    environment: dev
